[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn

[dn]
C=CN
ST=Beijing
L=Beijing
O=CodePlayerBoxOrganization
OU=CodePlayerBoxDevelopment
emailAddress=xiaowp@flamingoeda.com
CN=codeplayerbox.com 
